.product-details-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-details-page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.product-details-page-header h1 {
  flex-grow: 1;
  text-align: center;
}

.product-details-page-backbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;

  text-decoration: none;
}

.product-details-page-backbutton:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
